body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #141414;
  padding: 60px 0 20px 0;
}

.fixed-header {
  position: fixed;
  background-color: #141414;
  padding: 20px 0;
}

section {
  padding-bottom: 50px;
  margin: 0 20px;
}

h1 {
  font-size: 36px;
  margin: 0;
}

p {
  font-size: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

a {
  color: #8243ff;
}

img {
  max-width: 100%;
}

.rounded {
  width: 500px;
  border-radius: 50%;
}

.project {
  padding: 20px 0;
  margin: 0 0 60px 0;
  background-color: #141414;
}

.project h3 {
  font-size: 24px;
}

@media screen and (min-width: 700px) {
  .project-details {
    display: flex;
    justify-content: center;
  }
  .project-image {
    flex: 1;
    margin-right: 10px;
  }

  .project-image img {
    max-width: 100%;
    height: auto;
  }

  .project-text-right {
    flex: 2;
    padding-right: 50px;
  }
  .project-text-left {
    flex: 2;
    padding-left: 50px;
  }
}
@media screen and (max-width: 700px) {
  .project-image {
    margin-right: 10px;
  }

  .project-image img {
    max-width: 100%;
    height: auto;
  }
}

#home p {
  margin: 30px;
}

#links i,
a {
  font-size: 20px;
}

#links ul,
#skills ul {
  list-style-type: none;
  padding: 0;
}

#links ul li,
#skills ul li {
  margin: 5px 0;
}

#projects ul {
  list-style-type: none;
  padding: 0;
}

#projects ul li {
  margin: 10px 0;
}
